h1{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*----------------------------------------------------*/

/* Full-width input fields */
input[type=text], input[type=password], #beschreibung {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: left;
    width: 50%;
    margin-left:25%
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/*--------------------------------------------------*/

#beschreibung{
    height: 100px;
    resize: none;
}

/*--------------------------------------------------*/

#imgDiv{
    justify-content: center;
}

#ueberUns{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    text-align: center;
}